@import 'tailwindcss';

html, body, #root {
  background: transparent !important;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  min-width: 0 !important;
  min-height: 0 !important;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  -webkit-app-region: no-drag;
}

button {
  @apply cursor-pointer;
}
